<link rel="stylesheet" href="announcements.css">
{{!-- <script defer src="about_js.js"></script> --}}

<span class="album py-4">
    {{#if authenticated}}
    <div class="admin-container container">
        <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-12 d-flex align-items-center justify-content-center"><a type="button" class="btn btn-sm btn-secondary edit" href="/upload_post">Add announcement</a></div>
        </div>
    </div>
    {{/if}}

    {{#each posts}}
    <div class="border">
        {{#if authenticated}}
        <a type="button" onclick="document.getElementById('{{edited}}').style.display='inline-block'" class="btn btn-secondary mx-4 delete">Delete</a>
        <a class="btn btn-secondary mx-4 edit" href = "./edit_post?postid={{postid}}&imageid={{imageid}}">Edit</a>
        {{/if}}
        <div class="row title">{{title}}</div>
        <div class="row w-100">
            
            <div class="col-lg-3 col-md-3 d-flex justify-content-center p-4">
                {{#if image}}
                <div class="image">
                    <img class="card-img-top" src="data:{{imagetype}};base64,{{ image }}" alt='Pic relevant to {{title}}'>
                </div>
                {{/if}}
            </div>
            
            <div class="col-lg-9 col-md-9 p-4">
                <div class="info"><p>{{content}}</p></div>
                <p class = 'text-muted'>Posted by: {{author.firstname}} {{author.lastname}} on {{edited}}</p>
            </div>
        </div>
    </div>
    {{#if authenticated}}
    <div id="{{edited}}" class="modal">
        <div class="container">
            <button onclick="document.getElementById('{{edited}}').style.display='none'" class="close-modal d-flex" title="Close Modal">&times;</button>  
            <h1>Delete Art</h1>
            <p>Are you sure you want to delete {{ title }}?</p>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('{{edited}}').style.display='none'" class="btn btn-secondary">Cancel</button>
                <a type = 'button' class = 'btn btn-danger' href = '/delete_post?postid={{postid}}'>Delete </a>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
</span> 
