<link rel="stylesheet" href="artist_styles.css">

<section class="gradient-custom-2">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:280px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 200px;">
              <img src="data:{{profile_pic.image.contentType}};base64,{{ profile_pic }}" alt="Profile of {{ last_name }}" 
              class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 180px; z-index: 1">
              <a type="button" class="btn btn-outline-light" data-mdb-ripple-color="dark"
                style="z-index: 1;" href = "/edit_artist?artistid={{creatorid}}">
                Edit Artist Details.
              </a>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{first_name}} {{last_name}}</h5>
              <p>{{nationality}}</p>
              <p>{{#if born}}{{born}}{{/if}} - {{#if died}}{{died}}{{/if}}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              
              <div class="px-3">
                <p class="mb-1 h5">Artworks in Gallery</p>
                <p class="small text-muted mb-0">Sample number</p>
              </div>
             
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Bio</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{info}}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Work sample</p>
            </div>
            {{#each artworks}}
            <div class="row g-2">
              <div class="col mb-2">
                <img img src="data:{{artpictype}};base64,{{ artpic }}" alt="art sample of {{ last_name }}"
                   class="w-100 rounded-3">
              </div>
              {{!-- <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div> --}}
            </div>
            {{/each}}
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>