<link rel="stylesheet" href="upload.css">
    <h1> Edit Exhibition Room</h1>
    <form method = "post" action = "/edit_room?roomid={{roomid}}&imageid={{imageid}}" enctype="multipart/form-data">
    
        <label for="room-num">Room Number:</label>
        <input type="number" id="room-num" name="roomNum" value = {{roomNum}}>

        <label for="genre">Genre/Style:</label>
        <input type="text" id="genre" name="genre" value = '{{genre}}'>
        
        <label for="room-description">Description:</label>
        <textarea id="room-description" name="roomDescription">{{Description}}</textarea>
        {{!-- INSERT EXISTING ROOM IMAGERY --}}
        <label for='file'>Room photos:</label>
        <img class="card-img-top" src="data:{{rimageType}};base64,{{ rimage }}" alt="Existing photo of Room {{ roomNum }}">
        <input type='file' accept='image/*' name='roomImage' id='file'>
        <p class='hint'>Supported files: jpg, jpeg, png.</p>

        <input type = 'submit'>
    </form>