<script src="exhibition.js" defer></script>
<link rel = "stylesheet" href = "exhibition.css">

<span class="rooms_slider" id="rooms_slider_id">
        <div class="border">
            <div class="img-slider">
                {{#each rooms}}
                <div class="slide">
                    <img src="data:{{rimg_type}};base64,{{ rimg }}" alt="{{rimg_name}}">
                    <div class="info">
                        <h2>{{room_name}}</h2>
                    </div>
                </div>
                
                {{/each}}
                <div class="navigation">
                    {{#each room}}
                
                    <div class="btn"></div>
                
                    {{/each}}
                </div>
                {{!-- <div class="slide">
                    <img src="images/announcements.jpg" alt="" height="100%" width="100%">
                    <div class="info">
                        <h2>TITLE 02</h2>
                    </div>
                </div>
                <div class="slide">
                    <img src="images/Zuck_sketch.jpg" alt="">
                    <div class="info">
                        <h2>TITLE 03</h2>
                    </div>
                </div>
                <div class="slide">
                    <img src="images/background.jpg" alt="">
                    <div class="info">
                        <h2>TITLE 04</h2>
                    </div>
                </div>
                <div class="slide">
                    <img src="images/Zuck_sketch.jpg" alt="">
                    <div class="info">
                        <h2>Room 05</h2>
                    </div>
                </div> --}}
                
                {{!-- <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div> --}}
                
            </div>
        </div>
    </span>

    <div class="border">
        <div class="row d-flex align-items-center m-3">
            {{#each rooms}}
            <div class="card-content col-md-6 col-sm-6 mb-3 d-flex align-items-stretch">
                <div class="card box-shadow">
                    <div class="card-image">
                        <a class="btn btn-secondary edit" href = "./edit_room?roomid={{rid}}">Edit</a>
                        <img class="card-img-top" src="data:{{rimg_type}};base64,{{ rimg }}" alt='{{rimg_name}}'>
                    </div>
                    <div class="room-text d-flex m-3">[Room {{room_num}}] {{room_genre}}: {{room_sum}} </div>
                </div>
            </div>
            {{/each}}
            {{!-- <div class="card-content col-md-6 col-sm-6 mb-3 d-flex align-items-stretch">
                <div class="card box-shadow">
                    <div class="card-image">
                        <button class="edit">Edit</button>
                        <img class="card-img-top" src="images/Zuck_sketch.jpg" alt="zuck 1">
                    </div>
                    <div class="room-text d-flex m-3">Room 2 : words words words words words words wordswordswordswordsword swordswords </div>
                </div>
            </div>
            <div class="card-content col-md-6 col-sm-6 mb-3 d-flex align-items-stretch">
                <div class="card box-shadow">
                    <div class="card-image">
                        <button class="edit">Edit</button>
                        <img class="card-img-top" src="images/Zuck_sketch.jpg" alt="zuck 1">
                    </div>
                    <div class="room-text d-flex m-3">Room 3 : words words words words words words wordswordswordswordsword swordswords </div>
                </div>
            </div>
            <div class="card-content col-md-6 col-sm-6 mb-3 d-flex align-items-stretch">
                <div class="card box-shadow">
                    <div class="card-image">
                        <button class="edit">Edit</button>
                        <img class="card-img-top" src="images/Zuck_sketch.jpg" alt="zuck 1">
                    </div>
                    <div class="room-text d-flex m-3">Room 4 : wordswordswordsword swordswords </div>
                </div>
            </div>
            <div class="card-content col-md-6 col-sm-6 mb-3 d-flex align-items-stretch">
                <div class="card box-shadow">
                    <div class="card-image">
                        <button class="edit">Edit</button>
                        <img class="card-img-top" src="images/Zuck_sketch.jpg" alt="zuck 1">
                    </div>
                    <div class="room-text d-flex m-3">Room 5 : words words words words words words wordswordswordswordsword swordswords </div>
                </div>
            </div> --}}
        </div>
        
    </div>