<script src="exhibition.js" defer></script>
<link rel = "stylesheet" href = "exhibition.css">

<div class="album py-4">
    <span class="rooms_slider" id="rooms_slider_id">
        <div class="border">
            <div class="img-slider">
                {{#each rooms}}
                <div class="slide">
                    <img src="data:{{rimg_type}};base64,{{ rimg }}" alt="{{rimg_name}}">
                    <div class="info">
                        <h2>ROOM {{room_num}}</h2>
                    </div>
                </div>
                {{/each}}

                <div class="navigation">
                    {{#each rooms}}
                    <div class="btn"></div>
                    {{/each}}
                </div>
                
            </div>
        </div>
    </span>

    <div class="border">
        <div class="row d-flex align-items-center m-3">
            {{#each rooms}}
            <div class="card-content col-md-6 col-sm-6 mb-3 d-flex align-items-stretch">
                <div class="card box-shadow w-100">
                    <div class="card-image">
                        {{#if authenticated}}
                        <a class="btn btn-secondary edit" href = "./edit_room?roomid={{rid}}">Edit</a>
                        <a type="button" onclick="document.getElementById('{{rid}}').style.display='inline-block'" class="btn btn-secondary delete">Delete</a>
                        {{/if}}
                        <img class="card-img-top" src="data:{{rimg_type}};base64,{{ rimg }}" alt='{{rimg_name}}'>
                    </div>
                    <div class="room-text d-flex m-3"><a class = 'btn btn-secondary' href = '/collection?genre={{room_genre}}'>Room {{room_num}} : {{room_genre}} . {{room_sum}} </a></a></div>
                </div>
            </div>
            {{#if authenticated}}
            <div id="{{rid}}" class="modal">
                <div class="container">
                    <button onclick="document.getElementById('{{rid}}').style.display='none'" class="close-modal d-flex" title="Close Modal">&times;</button>  
                    <h1>Delete Art</h1>
                    <p>Are you sure you want to delete Room {{ room_num }}?</p>
                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('{{rid}}').style.display='none'" class="btn btn-secondary">Cancel</button>
                        <a type="button" class="btn btn-danger" href = '/delete_room?roomid={{rid}}'>Delete </a>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}

            {{#if authenticated}}
            <div class="card-content col-md-6 col-sm-6 mb-3 d-flex justify-content-center">
                <div class="card box-shadow">
                    <a class="btn" href = "./upload_room">Add Room</a>
                </div>
            </div>
            {{/if}}

        </div>   
    </div>
</div>