<link rel="stylesheet" href="home_styles.css">
<script src="home_js.js" defer></script>

<div class="album py-4">
    <span class="rooms_slider" id="rooms_slider_id">
        <div class="border">
            <div class="img-slider">
                {{#each rooms}}
                <div class="slide">
                <img class="card-img-top" src="data:{{rimagetype}};base64,{{ rimage }}" alt='Display of room {{rname}}'>
                <div class="info">
                    <h2>Room {{rnum}} {{rgenre}}</h2>
                    <p>{{rdesc}}</p>
                </div>
                </div>
                {{/each}}
                

                
                <div class="navigation">
                    {{#each rooms}}
                <div class="btn"></div>
                    {{/each}}
                    
                </div>
                
            </div>
        </div>
    </span>
    <span class="announcements_section">
        {{#each posts}}
        <div class="border ann-border">
            <div class="row title py-0">{{ptitle}}</div>
            <div class="container-info">
                <div class="row d-flex w-100">
                    <div class="image-container col-lg-3 col-md-3">
                        <div class="row image d-flex">
                            <img class="col-12 card-img-top" src="data:{{pimagetype}};base64,{{ pimage }}" alt='Pic relevant to {{ptitle}}' width="100%">
                            <div class="col-12 d-flex justify-content-center py-2"><a href="/announcements">See more →</a></div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="info">{{pcontent}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </span> 
</div>
    